.profileAppointments {
  display: flex;
}
.profileEditBtn {
    background-color: rgb(66, 66, 235);
    color: rgb(238, 234, 229);
    height: 8vh;
    width:150px;
}
.profileSaveBtn {
    background-color: rgb(4, 161, 25);
    color: rgb(238, 234, 229);
    height: 8vh;
    width:150px;
}
.profileCancelBtn{
    margin-top: 20px;
    background-color: rgb(238, 13, 13);
    color: rgb(238, 234, 229);
    height: 8vh;
    width:150px;  
}
.specialityDiv{
    display: flex;
}
@media only screen and (max-width: 1020px) { 
    .profileDetails{
      display: flex;
      flex-direction: column;
  }
}

@media only screen and (max-width: 800px) { 
    .editProfileDiv{
      display: flex;
      flex-direction: column;
  }
}